.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
**/generated_plugin_registrant.dart

android/.gradle/
android/local.properties
android/key.properties
android/**/build/
android/.kotlin/
android/*.iml
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

.idx/
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

*.log

*.lock
!pubspec.lock